{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
<h2>Edit Task</h2>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.color) }}
    <button class="btn">Save changes</button>
{{ form_end(form) }}
{% endblock %}
